:root {
    --primary-color:rgb(211, 70, 19);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'Kumbh Sans', sans-serif; 
}
main {
    padding: 0;
}
h2 {
    text-align: center;
    color: var(--primary-color);
}
/*Navigation*/
.nav {
    background-color: var(--primary-color);
    height: 4rem;
    width: 100%;
   
    &__togglebtn {
       color: white;
       position: relative;
       top: 0.6rem;
       left: 1rem;
       font-size: 2rem;
       width: fit-content;
    }
    
    &__list {
       list-style: none;
       background-color: var(--primary-color);
       font-weight: 700;
       width: 100%;
       height: 100vh;
       display: none;
       flex-direction: column;
       justify-content: center;
       align-items: center;      
       position: absolute;
    }

    &__item {
        text-align: center;
        margin-bottom: 2rem;
    }
    &__link {
        color: white;
        text-decoration: none;

        &:hover {
            color: black;
        }
    }
}
.active {
    display: flex;    
}

/*Home Page*/

.home {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
   
    &__profile {
       margin: 1rem 0;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    &__img {
        background: var(--primary-color);
        border: 6px solid var(--primary-color);
        width: fit-content;
        height: auto;
        border-radius: 50%;
        background-position: center;
        background-repeat:no-repeat;       
    }
    &__desc {
        display: block;
        text-align: center;
    }
    &__name {
        margin-bottom: 0.5rem;
        color: var(--primary-color);
    }
    &__profession {
        margin-bottom: 2rem;
    }
}
.social {
    display: flex;
    list-style: none;
    justify-content: center;
    & li {
        margin-right: 0.5rem;
    }

    & li a {
        width: 60px;
        height: 60px;
        padding: 12px;
        border-radius: 50%;
        background-color: var(--primary-color);
        font-size: 16px;
        color: white;
        transition: all 0.3s ease;
       &:hover {
           background-color: white;
           color: var(-primary--color);
           border: 1px solid var(--primary-color);
       }
    }
}
/*About Me*/
.about {
    margin-bottom: 2rem;
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;

    &__title {
        text-align: center;
        color: white;
        margin-bottom: 1rem;
    }
    &__container {
        text-align: center;
        font-size: 1.2rem;
    }
    
    &__skills {
        width: 100%;
        margin-top: 2rem;
        & h3 {
            color: white;
            margin-bottom: 1rem;           
        }
    }
    &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        margin-left: 1.2rem;
        margin-bottom: 1.2rem;
        border: 1px solid white;
        padding: 10px 5px;
        width: fit-content;
        font-weight: 600;
    }
}
/*Portfolio*/
.portfolio {
   margin-bottom: 2rem;
   padding: 0 1rem;
}
.container {
    display: flex;
    flex-direction: column;
}
.card {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    margin: 0 0 2rem 0;
    padding: 10px;
    box-shadow: -10px 10px 20px rgba(0,0,0,0.3);

    &__image {
        width: 100%;
        height: 180px;
        margin-bottom: 0.6rem;
    }
    &__title {
        margin-bottom: 0.6rem;
    }
    &__desc {
        margin-bottom: 2rem;
    }
    &__btn {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        & a {
            background-color: var(--primary-color);
            border: none;
            border-radius: 18px;
            padding: 10px 20px;
            color: white;
            text-decoration: none;
            transition: all 0.3s ease;
            &:hover {
                background-color: white;
                color: var(--primary-color);
                border: 2px solid var(--primary-color);
            }
            &:first-of-type {
                margin-right: 10px;
            }
        }  
        
    }
}
/*Contact me*/
.contactme {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact {
    width: 340px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    &__card {
        width: 100%;
        height: 50px;
        display: flex;
        & i {
            margin-right: 30px;
            color: var(--primary-color);
            font-size: 22px;
        }
    }
    &__title {
        margin-right: 10px;
    }
    &__detail {
        font-size: 18px;
    }
}


/*Footer*/
footer {
    background-color:rgb(26, 25, 25);
    color: white;
    margin-top: 1rem;
    padding: 50px 20px 20px 20px;
    text-align: center; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.footer__title {
    color: whitesmoke;
}
.footer__social {
    width: 100%;
    margin: 30px 0;
}
.footer__social a i{
    margin-right: 20px;
    font-size: 26px;
    color: white;
    transition: all 0.3s ease;
    &:hover {
        color: var(--primary-color);
    }
}
.footer__social a i:nth-last-of-type(2) {
    margin-right: 0;
}

@media only screen and (min-width:768px) {
    
    main {
        padding: 0;
    }
    
    .nav {
       background-color: var(--primary-color);
       width: 100%;
       height: 4rem;
       position: fixed;
       top: 0;

       &__togglebtn {
        display: none;
       }
       &__list {
        position: absolute;
        overflow: hidden;
        left: 0px;
        right: 0px;
          height: fit-content;
          width: 100%;
           display: flex;
           flex-direction: row;
           justify-content: flex-end;
           align-items: center;
           margin-top: 1.5rem;
       }
       &__item {
           margin-bottom: 0;
           margin-right: 1.5rem;
       }

    }
     /*Home page*/
    .home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        z-index: 2;
        &__profile {
            margin: 0;
            display: flex;
            justify-content: flex-end;
        }
        &__desc {
            text-align: left;
            margin-left: 2rem;
        }
        &__name {
            font-size: 2rem;
        }
    }
    .social {
        display: flex;
        justify-content: flex-start;
    }
    
    /*About me*/
    .about {
        padding: 3rem;
        &__container {
            display: grid;
            grid-template-columns: 1fr 1fr; 
        }
        &__desc {
            text-align: left;
        }
        &__skills {
            margin: 0;    
        }
        
    }
    /*Portfolio*/
    .portfolio {
        padding: 3rem;
        & h2 {
            margin-bottom: 60px;
        }
    }
    
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 2rem;  
    }
    .card {
       width: 100%;
       margin: 0;
    }
    /*Contact me*/
    .contact {
        width: 500px;
        &__title {
            margin-right: 80px;
        }
    }
}

@media only screen and (min-width:1024px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr ;
        grid-gap: 2rem;
        
    }
}